---
title: Complay
---
{{#extend "lyt-default"}}
{{#content "main"}}
    {{> b-navigation}}
    {{#withHash isDark=true}}
        {{> b-controls}}
    {{/withHash}}
    {{> b-anchornavigation}}
    {{> b-header}}


    <div class="js-test"></div>
{{/content}}
{{/extend}}