<div class="b-anchornavigation--default" data-js-component="AnchorNavigation" data-css="b-anchornavigation">
    <p class="anchornavigation__headline">{{anchornavigation.title}}</p>

    {{#each complay.topics}}
        {{title}}
    {{/each}}
</div>