<div class="b-header--default" data-js-component="Header" data-css="b-header">
    <div class="header__stage">
        <svg style="position: absolute; height: 0;">
            <clippath id="stage-clip">
                <rect x="0" y="0" width="100%" height="100%" />
            </clippath>
        </svg>
        {{> b-backgroundart}}
        {{> b-branding}}
        {{> b-controls}}
        {{> b-anchornavigation}}
    </div>
</div>