$font-size-xs: 10px;
$font-size-s:  12px;
$font-size-m:  14px;
$font-size-l:  16px;
$font-size-xl: 18px;
$font-size-xxl:20px;

$font-size-headline-s:  20px;
$font-size-headline-m:  30px;
$font-size-headline-l:  40px;
$font-size-headline-xl: 50px;