[data-css="b-branding"] {

  padding: 24px;

  .branding__link {
    text-decoration: none;
  }

  .branding__wordmark {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-style: italic;
    @include rem(font-size, $font-size-headline-xl);

    color: $font-color-bright;
  }

  .branding__headline {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    @include rem(font-size, $font-size-headline-m);
    text-rendering: auto;

    color: $font-color-bright;
  }

  .branding__slogan {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    @include rem(font-size, $font-size-headline-s);
    text-rendering: auto;
    color: $font-color-bright;
  }
}